html {
    font-size: 62.5%; /* 1rem = 10px */
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f2f2f2;
}

.calculator {
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 400px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.calculator-screen {
    width: 100%;
    height: 100px;
    background-color: #252525;
    color: #fff;
    text-align: right;
    font-size: 5.6rem;
    border: none;
    padding: 15px 20px;
    box-sizing: border-box;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.calculator-keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1px;
    background-color: #d1d1d1; /* For the grid lines */
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.calculator-keys button {
    height: 80px;
    font-size: 3.5rem;
    background-color: #f7f7f7;
    border: none;
    cursor: pointer;
    transition: background-color 0.1s;
    padding: 0; /* Remove default button padding */
}

.calculator-keys button:hover {
    background-color: #e0e0e0;
}

.operator {
    background-color: #f59c1c;
    color: #fff;
}

.operator:hover {
    background-color: #da8c1a;
}

.equal-sign {
    background-color: #2e86c1;
    grid-area: 2 / 4 / 6 / 5; /* Spans 4 rows on the 4th column */
    height: auto; /* Allow it to fill the height */
}

.equal-sign:hover {
    background-color: #256e9c;
}

.all-clear {
    background-color: #d9534f;
    color: #fff;
}

.all-clear:hover {
    background-color: #c9302c;
}

/* Specific styling for the zero button to span two columns */
button[value="0"] {
    grid-column: span 2;
}
